<!DOCTYPE html>
<html>

<!--head-->
<head>
    <title>Dublin Bus</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!--body-->
<body>
    <div>
        Dublin Bus
    </div>
</body>

<!--footer-->
<div>
    <div>
        <div id="footer">
            <p>Copyright 2020 Jiaqi Guo, Siang-Teng Jiang, Yingjie Niu, Peisong Han. All Rights Reserved.</p>
        </div>
    </div>
</div>

</html>