#header_word {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

#map_location {
    height: 0px;
    padding-bottom: 40%;
    background: white;
    border: 4px solid #6a9eae;
}

#tab_content {
    font-size: 15px;
}

html, body {
    width: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 14px;
}

p {
    padding: 15px;
}

.row {
    display: flex;
    height: 30px;
}

div .item {
    width: 20%;
    /*border: 1px solid black;*/
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: antiquewhite;*/
    padding: 2px;
}

div .title {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color:burlywood;*/
    font-weight: 400;
}

#footer {
    color: black;
    font-size: 15px;
    text-align: center;
}

.header img {
    height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav {
    overflow: hidden;
    font-family: Arial;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.main-nav {
    padding-left: 30%;
    margin-bottom: 40px;
}

/*
 Links inside the navbar
 Reference link: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
*/
.nav a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

